* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  position: relative;
  overflow: hidden;
  width: 100%;
  letter-spacing: 2px;
  line-height: 1.35;
  font-family: 'Dosis', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway', sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  display: block;
  z-index: 1;
  -webkit-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
  background: rgba(0, 127, 225, 0.77);
  -webkit-transition: all 0.5 ease-in;
  transition: all 0.5 ease-in;
}

.container {
  opacity: 1;
  position: absolute;
  overflow: hidden;
  overflow-y: auto;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #fff;
}
.container footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  background: rgba(0, 0, 0, 0.1);
}
.container footer p {
  text-align: center;
  color: #fff;
}
.container .close-arrow {
  color: #444;
  position: fixed;
  top: 70px;
  right: 20px;
  font-size: 60px;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  display: none;
}
.container .close-arrow:after {
  content: 'close';
  color: #888;
  font-size: 14px;
  text-transform: capitalize;
  position: absolute;
  top: 10px;
  left: 12px;
}
.container .close-arrow:hover {
  color: #c90;
}
.container.home {
  z-index: 2;
}
.container.home .close-arrow {
  display: none;
}
.container.home header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
}
.container.home header > * {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.container.home header .left {
  line-height: 30px;
  font-size: 32px;
  font-weight: bold;
  font-family: 'Fredericka the Great', cursive;
}
.container.home header .center {
  -webkit-box-flex: 2;
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;
  opacity: 0;
}
.container.home header .center ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  text-align: center;
}
.container.home header .center ul li a {
  line-height: 30px;
  font-weight: bold;
  -webkit-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
}
.container.home header .center ul li a.active {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  color: #ddd;
}
.container.home header .center ul li a:hover {
  color: #ccc;
}
.container.home header .right {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.container.home header .right ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: center;
}
.container.home header .right ul li {
  margin: 0 10px;
}
.container.home header .right ul li a {
  display: block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  border: 1px solid #fff;
  color: #fff;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.container.home header .right ul li a:hover {
  color: #fff;
  border: none;
}
.container.home header .right ul li a.facebook:hover {
  background: #3b5998;
}
.container.home header .right ul li a.twitter:hover {
  background: #00aced;
}
.container.home header .right ul li a.linkedin:hover {
  background: #007bb6;
}
.container.home header .right ul li a.codepen:hover {
  background: black;
}
.container.home header .right ul li a.fcc:hover {
  background: green;
}
.container.home header .right ul li a.github:hover {
  background: grey;
  color: black;
}
.container.home .content {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
}
.container.home .content .typed-cursor {
  opacity: 0;
}
.container.home .content .title h1 {
  font-size: 70px;
  text-align: center;
  text-transform: uppercase;
  min-height: 180px;
}
.container.home .content ul {
  width: 50%;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  text-align: center;
  font-size: 70px;
}
.container.home .content ul > * {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.container.home .content ul li a {
  line-height: 0;
  display: block;
}
.container.home .content ul li a:hover {
  color: #ccc;
}
.container.home .content ul li a span {
  font-size: 18px;
  line-height: 18px;
  display: block;
}
.container.about {
  box-shadow: inset 0 10px 10px -10px rgba(0, 0, 0, 0.8);
  color: #888;
  background: #fff;
  z-index: 3;
  top: 200%;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.container.about .top {
  margin-top: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.container.about .top .left {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.container.about .top .right {
  -webkit-box-flex: 2;
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;
}
.container.about .avatar {
  text-align: center;
}
.container.about .avatar img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 1px solid #f3f3f3;
}
.container.about .info {
  text-align: center;
}
.container.about .info p {
  margin: 0;
  padding: 0;
}
.container.about .info p.profession {
  font-size: 20px;
  margin-bottom: 10px;
}
.container.about .info p.name {
  color: #007fe1;
  font-size: 32px;
  margin-bottom: 10px;
}

.container.about .info p.email {
  margin-bottom: 10px;
}

.container.about .info p strong {
  color: #888;
}

.container.about .info p.location {
  color: #007fe1;
}

.container.about .info p.email a {
  color: #007fe1;
  transition: all 0.25s;
}

.container.about .info p.email a:hover {
  color: rgba(0, 127, 225, 0.7);
}

.container.about .button {
  text-align: center;
  margin-top: 20px;
  width: 100%;
}
.container.about .button a {
  color: #007fe1;
  width: 50%;
  margin: 0 auto;
  display: block;
  padding: 10px 20px;
  border: 1px solid #c90;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}
.container.about .button a:hover {
  color: rgba(0, 127, 225, 0.7);
  border-color: rgba(0, 127, 225, 0.7);
}
.container.about .intro {
  padding: 0 50px;
}
.container.about .intro h1 {
  margin-top: 0;
  text-align: center;
}
.container.about .intro p {
  text-align: justify;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: 2px;
}
.container.about .intro p a {
  color: rgba(0, 127, 225, 1);
  transition: all 0.25s;
}
.container.about .intro p a:hover {
  color: rgba(0, 127, 225, 0.7);
}
.container.about .bottom {
  width: 90%;
  margin: 20px auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 100px;
}
.container.about .bottom .technologies {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.container.about .bottom .technologies li {
  margin: 5px;
}
.container.about .bottom .left {
  -webkit-flex-basis: 60%;
  -ms-flex-preferred-size: 60%;
  flex-basis: 60%;
  border-right: 1px dotted #888;
}
.container.about .bottom .right {
  -webkit-flex-basis: 40%;
  -ms-flex-preferred-size: 40%;
  flex-basis: 40%;
}
.container.about .bottom h1 {
  text-align: center;
  font-size: x-large;
}
.container.about.open {
  top: 60px;
  opacity: 1;
}
.container.works {
  box-shadow: inset 0 10px 10px -10px rgba(0, 0, 0, 0.8);
  background: #fff;
  color: #888;
  z-index: 4;
  top: 200%;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.container.works .header {
  margin-top: 50px;
}
.container.works .header h1 {
  text-align: center;
  color: #888;
}
.container.works .header .filter {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.container.works .header .filter li {
  cursor: pointer;
  margin: 10px 10px;
}
.container.works .header .filter li label {
  cursor: pointer;
  border: 1px solid #888;
  padding: 10px 20px;
  border-radius: 4px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.container.works .header .filter li label:hover {
  color: rgba(0, 0, 0, 0.7);
  border-color: rgba(0, 0, 0, 0.7);
}
.container.works .header .filter li input {
  opacity: 0;
}
.container.works .header .filter li input:checked ~ label {
  border-color: rgba(0, 127, 225, 1);
  color: rgba(0, 127, 225, 1);
  font-weight: bold;
}
.container.works .content {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 90px;
}
.container.works .content .cards {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.container.works .content .cards .card {
  -webkit-flex-basis: calc(30% - 20px);
  -ms-flex-preferred-size: calc(30% - 20px);
  flex-basis: calc(30% - 20px);
  margin: 30px 20px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.container.works .content .cards .card .card-media {
  width: 100%;
  border-bottom: 1px solid #ddd;
}
.container.works .content .cards .card .card-media img {
  width: 100%;
  height: 100%;
}
.container.works .content .cards .card .card-content h4 {
  text-align: center;
  margin: 5px 0 0 0;
}
.container.works .content .cards .card .card-content p {
  margin: 0;
  padding: 10px;
  text-align: center;
}
.container.works .content .cards .card .card-actions {
  text-align: center;
  width: 100%;
  margin: 10px 0;
}
.container.works .content .cards .card .card-actions .view-demo {
  display: block;
  width: 60%;
  margin: 0 auto;
  color: rgba(0, 127, 225, 1);
  padding: 10px 20px;
  border: 1px solid rgba(0, 127, 225, 1);
  border-radius: 4px;
  -webkit-transition: all o 0.3s;
  transition: all o 0.3s;
}
.container.works .content .cards .card .card-actions .view-demo:hover {
  color: rgba(0, 127, 225, 0.7);
  border-color: rgba(0, 127, 225, 0.7);
}
.container.works.open {
  top: 60px;
}
.container.contact {
  box-shadow: inset 0 10px 10px -10px rgba(0, 0, 0, 0.8);
  background: #fff;
  color: #888;
  z-index: 5;
  top: 200%;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.container.contact a {
  color: #444;
}
.container.contact h1 {
  color: #777;
  text-align: center;
}
.container.contact p {
  color: #888;
}
.container.contact footer {
  display: none;
}
.container.contact footer p {
  color: #444;
}
.container.contact .content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 70px 0;
}
.container.contact .content > * {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.container.contact .content h1 {
  margin: 20px 0 10px 0;
}
.container.contact .content p {
  padding: 10px;
  font-size: 20px;
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
}
.container.contact .content ul {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}
.container.contact .content ul li {
  margin: 10px;
}
.container.contact .content ul li a {
  font-size: 28px;
  color: #00bcd4;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.container.contact .content ul li a:hover {
  color: rgba(0, 188, 212, 0.7);
}
.container.contact .content .map {
  width: 80%;
  height: 400px;
  margin: 10px auto;
}
.container.contact .content .map iframe {
  width: 100%;
  height: 100%;
}
.container.contact.open {
  top: 60px;
}
.container.contact.open footer {
  display: none;
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 900px) {
  .container.about .intro p {
    line-height: 1.6;
    font-size: 14px;
  }
  .container.home .content ul {
    width: 60%;
  }
  .container.about .bottom h1 {
    font-size: large;
  }
  .container.works .content {
    width: 95%;
  }
  .container.works .content .cards .card {
    -webkit-flex-basis: calc(45% - 20px);
    -ms-flex-preferred-size: calc(45% - 20px);
    flex-basis: calc(45% - 20px);
  }
}

@media (max-width: 780px) {
  .container.home header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0;
  }
  .container.home header .left {
    font-size: 40px;
    line-height: 25px;
  }
  .container.home header .right {
    display: block;
  }
  .container.about .bottom h1 {
    font-size: x-large;
  }
  .container.about .bottom .left ul {
    margin-bottom: 10px;
  }
  .container.home header .left,
  .container.home header .right {
    margin: 20px;
  }
  .container.home header .center {
    display: none;
  }
  .container.home .content {
    margin-top: 50px;
  }
  .container.home .content .title h1 {
    font-size: 40px;
    line-height: 40px;
    min-height: 90px;
  }
  .container.home .content ul {
    width: 80%;
    margin-top: 20px;
  }
  .container.about .top,
  .container.about .bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .container.about .top .right {
    margin-top: 20px;
  }
  .container.about .avatar {
    margin-top: 0;
  }
  .container.about .bottom .left {
    border-right: none;
    border-bottom: 1px dashed #888;
  }
  .container.about .top .right p {
    font-size: 18px;
  }
  .container.contact .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .container.contact .content .right {
    margin-bottom: 50px;
  }
}
@media (max-width: 640px) {
  .container.works .content {
    width: 95%;
  }
  .container.works .content .cards .card {
    -webkit-flex-basis: calc(95% - 20px);
    -ms-flex-preferred-size: calc(95% - 20px);
    flex-basis: calc(95% - 20px);
  }
}
@media (max-width: 480px) {
  .container.home header .left {
    font-size: 32px;
    line-height: 32px;
  }
  .container.home .content {
    margin-top: 30px;
  }
  .container.home .content .title h1 {
    line-height: 32px;
    font-size: 32px;
    min-height: 80px;
  }
  .container.home .content ul {
    width: 100%;
    margin-top: 40px;
  }
  .container.about .top,
  .container.about .bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .container.about .top .right {
    margin-top: 20px;
  }
  .container.about .top .right h1 {
    font-size: 24px;
  }
  .container.about .bottom h1 {
    font-size: 24px;
  }
  .container.works .header .filter {
    height: 100px;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

@media (max-width: 380px) {
  .container.home .content ul {
    font-size: 50px;
  }
  .container.home .content ul li a span {
    font-size: small;
  }
}

@media (max-height: 480px) {
  .container.home .content ul {
    margin-top: 0;
  }
  .container.home .content .title h1 {
    min-height: 40px;
    margin: 0;
  }
}

.not-supported {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99999;
  background-color: #96d6f7;
  background-image: url(../images/browser_not_supported.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
  display: none;
}

iframe#drift-widget {
  display: none;
}
